<body class="home">
<div style="margin-bottom:35px; margin-top:-18px; text-align:center">	
	<h1><span style="font-size:44px;">Hackstar Academy</span></h1>
</div>
<div id="content-home">
	<h1>Summer Programming Fellowship for Women</h1>
	<p>
	</p>	
	<ul>
		<li>
			<i class="icon-ok"></i>
			<span class="content-home-check">Become a software developer in 10 Weeks</span>
		</li>
		<li>
			<i class="icon-ok"></i>
			<span class="content-home-check">Located in San Francisco, CA</span>
		</li>  
		<li>
			<i class="icon-ok"></i>
			<span class="content-home-check">Job and Internship Opportunities</span>
		</li>	
	</ul>
	<a class="btn btn-success btn-home" href="http://bit.ly/Ic4s8Y" target="_blank">Apply Today
		<br />
		<span id="small-btn-font">(space is limited)</span>
	</a>	
</div>     

<div class="row">	
  <div class="span4">
		<img id="column-1" src="../assets/Women-who-code.png" width="373" height="74" alt="Summer Fellowship">
			<h2>The Programming Fellowship</h2>
		<p>
		10-week intensive program to train you to become a software developer.  Located in the heart of San Francisco: June 18 - August 24. Application Deadline: 5/30</p> 
  </div>
	<div class="span4" style="margin-top:18px;">
		<div id="column-2">
			<h2>Our Mission</h2>
		</div>
		<p>Our mission is to teach people software development in order to help them pursue their passions.</p>
  </div>
  <div class="span4">
		<img id="column-3" src="../assets/content.png" width="373" height="74" alt="Mission" >
    <h2>Python</h2>
	 	<p>We believe python is the best learning language and a lot of awesome companies use it.  We also teach you the skills necessary to be a great developer in any language, with any framework.</p>
  </div>
</div>
<hr>
<div class="row">
<div class="span12">

                  <div class="item active">
										<div class="row space2">
												<div class="span2">
                          <div class="thumbnail home-testimonial">
                            <%= image_tag "ashley.png"%>
                          </div>
												</div>
												<div class="span2">
													<h3>Ashley</h3>
													<h6>Software Developer</h6>
													<p>"I would highly recommend Christian as a teacher to any woman interested in learning software development... "<br /><a href="/pages/testimonials">Read More</a></p>
												</div>
												<div class="span2">
                          <div class="thumbnail">
                            <%= image_tag "shail.png"%>
                          </div>
												</div>
												<div class="span2">
													<h3>Shail</h3>
													<h6>Support Engineer @ Ooyala</h6>
													<p>"Hands down, Christian is the best teacher I've ever had... "<br /><a href="/pages/testimonials">Read More</a></p>
												</div>
												<div class="span2">
                          <div class="thumbnail">
                            <%= image_tag "janiney.png"%>
                          </div>
												</div>
												<div class="span2">
													<h3>Janine</h3>
													<h6>VP Biz Dev @ TokBox</h6>
													<p>"Christian is not only all patience and no condescension, but is gifted at explaining clearly how things work, all the way down to brass tacks... "<br /><a href="/pages/testimonials">Read More</a></p>
												</div>
										</div>
										<div class="row space2">
												<div class="span2">
                          <div class="thumbnail">
                            <%= image_tag "doug.png"%>
                          </div>
												</div>
												<div class="span2">
													<h3>Doug</h3>
													<h6>Junior Developer @ DailyKos</h6>
													<p>"I would recommend Christian to anyone, beginner to
													expert, looking for a more nuanced and thorough understanding of the
													art of coding...."<br /><a href="/pages/testimonials">Read More</a></p>
												</div>
												<div class="span2">
                          <div class="thumbnail">
                            <%= image_tag "adam.png"%>
                          </div>
												</div>
												<div class="span2">
													<h3>Adam</h3>
													<h6>Lead Developer @ Bungalow</h6>
													<p>"Christian is a wonderful instructor who has a gift for turning complex ideas into something understandable..."<br /><a href="/pages/testimonials">Read More</a></p>
												</div>
												<div class="span2">
                          <div class="thumbnail">
                            <%= image_tag "craig.png"%>
                          </div>
												</div>
												<div class="span2">
													<h3>Craig</h3>
													<h6>Engineer @ Zendesk</h6>
													<p>"I highly recommend any program with which he is involved..."<a href="/pages/testimonials">Read More</a></p>
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>

</div>	
</body>
